
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yasak</title>
</head>
<body>
    <div> 
        <h1><font color="red">BURAYA GİRİŞ İZNİNİZ YOK!</font></h1>
    </div>
</body>
</html>
